.container {
    position: center;
    width: 50%;
    height: 50vh;
    /* full screen height */
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   
}


.post-courses {
    width: 200px;
    background-color: #fff59d;
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.75);
    border: solid 5px rgb(4, 3, 3);
    margin: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 1;
    max-width: 600px;
    animation: pop 0.5s ease-in-out;
    animation-fill-mode: forwards;
    /* Keeps the final state after animation */
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    padding: 5em;
    line-height: 1.7em;
    background: rgb(165, 109, 214);

}

@keyframes pop {
    from {
        transform: translateX(-50%);
        opacity: 0;
    }

    to {
        transform: translateX(50);
        opacity: 1;
    }
}

.main-courses {
    margin-bottom: 10px;
    font-size: 35px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    overflow: hidden;
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    /* Adjust as needed */
    white-space: wrap;
    word-wrap: break-word;
    animation:
        typing 1.5s steps(40, end);


}

.resume-courses {

    text-align: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    margin: left;
}

ul {
    list-style: none;
}



.pro-courses {
    font-size: 20px;
    border: solid black 1px;
}

.trophy {
    color: gold;
    font-size: 36px;
    font-style: normal;
}

.trophy-web {
    color: grey;
    font-size: 36px;
    font-style: normal;
}

.courses {
    padding-top: 20px;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.liners {
    padding-top: 10px;
    display: block;
    /* This will make the anchor take up the full width of its container and display on a new line */
    padding-left: 90px;
    /* This will add a 20px space to the left of the anchor text */
    color: white;
}

.courses-w {
    font-size: 25px;
    padding-top: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;

}
.courses-w-1 {
    font-size: 25px;
    padding-top: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;

}


.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);

}

.popup-content {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    background-size: cover;
    padding: auto;
    width: 80%;
    margin-top: 600px;
}

.scroll-container {
    overflow-x: visible;
    width: 100%;
    height: auto;
}

.fixing {
    width: 100%;
    height: auto;
    object-fit: contain;
    position: relative;
}


.demo {
    text-decoration: none;
    color: white;

}

.courses-y {
    font-size: 20px;
    padding-top: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    margin-left: 60px;

}


.courses-y a:hover {
    color: rgb(2, 2, 2);
}


.courses-w-1 a:hover {
    color: rgb(2, 2, 2);
}



button {
    font-size: 20px;
    padding: 5px 10px;
    background-color: rgb(255, 255, 255);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.popup-content-gif-two {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    background-color: white;
    z-index: 1;
    padding: 20px;
}

.popup-content-gif-one {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    background-color: white;
    z-index: 1;
    padding: 20px;
}

.popup-content-one{

    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    background-size: cover;
    padding: auto;
    width: 80%;
    margin-top: 1100px;
}






