.container {
    position: center;
    width: 50%;
    height: 50vh;
    /* full screen height */
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   
}

.post-project {
    width: 200px;
    background-color: #fff59d;
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.75);
    border: solid 5px rgb(4, 3, 3);
    margin: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 1;
    max-width: 600px;
    animation: pop 0.5s ease-in-out;
    animation-fill-mode: forwards;
    /* Keeps the final state after animation */
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    padding: 5em;
    line-height: 1.7em;
    background: rgb(234, 65, 113);

}

@keyframes pop {
    from {
        transform: translateX(-50%);
        opacity: 0;
    }

    to {
        transform: translateX(50);
        opacity: 1;
    }
}

.main-project {
    margin-bottom: 10px;
    font-size: 35px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    overflow: hidden;
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    /* Adjust as needed */
    white-space: wrap;
    word-wrap: break-word;
    animation:
        typing 1.5s steps(40, end);


}

.resume-project {

    text-align: justify;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    
}

ul {
    list-style: none;
}

.icon:before {
    content: '✓';
    font-size: 30px;
    font-weight: bold;
    margin: auto;
}

.pro-project {
    font-size: 20px;
    border: solid black 2px;
   
}

.icon-pet {
    display: flex; /* make the icon and link appear on the same line */
    align-items: center; /* align the icon and link vertically in the middle */
}

.icon {
    width: 25px; /* set the width of the icon to 15px */
    height: 25px; /* set the height of the icon to 15px */
    margin-right: 5px; /* add some spacing between the icon and the link */
}
.fi{
    text-decoration: none;
    font-size: 25px;
    color: aliceblue;
}
.fi:hover{
    color:black;
    font-size: 30px;
}
.fil{
    text-decoration: none;
    font-size: 25px;
    color: aliceblue;
}
.fil:hover{
    color:black;
    font-size: 30px;
}

